# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# (optional) APP_NAME appears in the list of pull request checks. It defaults to "WIP"
APP_NAME=

# (optional) Logging with LogDNA
LOGDNA_API_KEY=

# (optional) Sending exceptions to Sentry
SENTRY_DSN=